html {
	margin: 0;
	padding: 0;
	height: 100%;
}

.highlight-from {
	box-shadow: inset 0 0 10px 10px #ABA23A;
	background: #f39814;
}

.highlight-to {
	box-shadow: inset 0 0 10px 10px #CED26B;
}

.highlight-curr {
	box-shadow: inset 0 0 10px 10px #ABA23A;
	background: #f39814;
}

/* .highlight-white {
	background-color: #ABA23A;
}

.highlight-black {
	background-color: #CED26B;
} */

#promotion-dialog {
	display: none;
}

.ui-dialog {
	padding: 0 !important;
	width: 184px !important;
	border: 0 !important;
}

.ui-dialog-content {
	padding: 0 !important;
	width: 184px !important;
	border: 0 !important;
}

.ui-corner-all {
	border-radius: 0;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 0 !important;
	background: #b9cd6d;
	border: 1px solid #b9cd6d;
	color: #FFFFFF;
	font-weight: bold;
}

#promote-to .ui-selecting {
	background: #feca40;
}

#promote-to .ui-selected {
	background: #f39814;
	color: white;
}

#promote-to {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 184px;
	height: 46px;
}

#promote-to li {
	margin: 0;
	padding: 0;
	width: 46px;
	height: 46px;
	cursor: pointer;
	float: left !important;
}

.ui-dialog .ui-dialog-content {
	padding: 0;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

.noTitleStuff .ui-dialog-titlebar {
	display: none;
}

.promotion-piece {
	width: 46px;
	height: 46px;
}

.piece-name {
	display: none;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: visible;
	display: flex;
	flex-direction: column;
}

#singlePlayer,
#multiPlayer,
#joinButton {
	margin: 10px;
	width: 300px;
	padding: 20px;
	font-size: 22px;
}

#gameMode,
#joinFormDiv {
	padding: 10px;
	margin-top: 8%;
}

.black-3c85d {
	background-color: #E1E1E1;
	color: #FFFFFF;
}

.white-1e1d7 {
	background-color: #FFFFFF;
	color: #E1E1E1;
}

#grey_board,
#orange_board,
#green_board,
#blue_board {
	margin: 6px;
	width: 130px;
}

.formInput {
	border: 1px solid gray;
	height: 50px;
	border-radius: 4px;
	width: 300px;
	margin: 10px;
	padding: 0 4px;
}

.myMessage {
	text-align: right;
	padding: 8px;
	background-color: #E0E0E0;
	font-size: 17px;
	margin-bottom: 10px;
	margin-right: 7px;
	clear: both;
	float: right;
	border-radius: 5px;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

.youMessage {
	text-align: left;
	padding: 8px;
	background-color: #616161;
	color: white;
	font-size: 17px;
	margin-bottom: 10px;
	clear: both;
	border-radius: 5px;
	float: left;
}

table{
	width: 100%;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}
tr {
	text-align: center;
}